@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root {
    --white: #FFFFFF;
    --white-blue: #BDD2FA;
    --light-blue: #5E92F2;
    --button-hovers: #7092ce;
    --blue: #1257D9;
    --dark-blue: #0D2249;
    --borders: 1px solid #e2e2e2;
    --bradius: 10px;
    --bshadow: 0 2px 2px 1px rgba(0, 0, 0, 0.6);
    --gradient: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(26, 168, 196, 1) 100%);
    --button-padd: 10px 20px;
}

html {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #020024;
    background: var(--gradient);
    min-height: 100vh;
    overflow-x: hidden;
}

#container-log-reg a {
    color: var(--blue);
    text-decoration-line: none;
}

#container-log-reg a:hover {
    color: var(--dark-blue);
    text-decoration-line: underline;
    text-decoration-color: var(--dark-blue);
}

#container-log-reg {
    border: var(--borders);
    border-radius: var(--bradius);
    background-color: var(--white);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 768px;
    min-height: 60vh;
}

#container-log-reg form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

#container-log-reg form #in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    justify-content: center

}

#container-log-reg form #in-form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#container-log-reg form * {
    margin-top: 10px;
}

button {
    background-color: var(--white-blue);
    border-radius: var(--bradius);
    padding: var(--button-padd);
    box-shadow: var(--bshadow);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: var(--button-hovers);
}

#container-log-reg form input {
    margin-left: 10px;
    background-color: var(--white-blue);
    border-radius: var(--bradius);
    padding: 10px;
    box-shadow: var(--bshadow);
    font-family: 'Quicksand', sans-serif;
}

#container-log-reg form label {
    font-weight: bold;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    border: var(--borders);
    padding: 20px;
}

nav > div {
    min-width: 200px;
    text-align: center;
}

nav h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main > * {
    border: var(--borders);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 300px;
    min-height: 288px;
    width: 30%;
    margin-bottom: 20px;
    border-radius: var(--bradius);
    background-color: var(--dark-blue);
    box-shadow: var(--bshadow);
    padding: 20px 10px;
}

.home-container main {
    color: var(--white-blue);
}

.home-container h2 {
    color: var(--white-blue);
}

.home-container p {
    color: var(--white-blue);
}

.profile-short-data {
    margin: 8px 0;
}

.home-container table {
    border-collapse: collapse;
    border: var(--borders);
    color: var(--white-blue);
}

.home-container table tr {
    border: var(--borders);
}

.home-container table th {
    padding: 10px;
}